.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  text-align: center;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 40px 20px;
  box-shadow: 0 0 8px #333;
}

.container .qr-code {
  border: 3px solid #bb1111;
  border-radius: 5px;
}

#callback {
  text-align: left;
  display: none;
}

pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  height: 150px;
  overflow-x: none;
  overflow-y: scroll;
  display: block;
}

.button {
  margin-top: 30px;
}

.button a {
  background-color: #bb1111;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0px 2px 3px #ccc;
}